* {
    border: none;
    border-radius: 0;
    min-height: 0;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 16px;
    padding: 0;
}

window#waybar {
    background: #1e1e2e;
    border-bottom: 2px solid #45475a;
}

tooltip {
    background-color: #1e1e2e;
    border: 2px solid #6c7086;
}

#wifi,
#clock,
#tray,
#cpu,
#memory,
#battery,
#network,
#backlight,
#pulseaudio {
    margin: 3px 6px 6px 0px;
    padding: 2px 8px;
}

#workspaces {
    background-color: #313244;
    margin: 3px 6px 6px 0px;
    border: 1px solid #45475a;
}

#workspaces button {
    all: initial;
    min-width: 0;
    box-shadow: inset 0 -3px transparent;
    padding: 2px 4px;
    color: #6c7086;
}

#workspaces button.focused {
    color: #cdd6f4;
}

#workspaces button.urgent {
    background-color: #f38ba8;
    color: #1e1e2e;
}

#clock {
    background-color: #313244;
    border: 2px solid #45475a;
    color: #cdd6f4;
}

#battery {
    background-color: #45475a;
    border: 2px solid #6c7086;
    color: #a6e3a1;
}

#backlight {
    background-color: #45475a;
    border: 2px solid #6c7086;
    color: #f9e2af;
    margin: 3px 6px 6px 0px;
    padding: 2px 8px;
}

#tray,
#cpu,
#memory,
#network,
#pulseaudio,
#wifi{
    background-color: #45475a;
    border: 2px solid #6c7086;
    color: #89b4fa;
}

#cpu.critical,
#memory.critical {
    background-color: #45475a;
    border: 2px solid #6c7086;
    color: #f38ba8;
}

#battery.warning,
#battery.critical,
#battery.urgent {
    background-color: #45475a;
    border: 2px solid #6c7086;
    color: #fab387;
}
